@model IEnumerable<CatGame.Models.Cats.CatIndexViewModel>

@{
    int rowNumber = 1;
    int currentRow = 1;
    int currentTile = 1;
    int tilesInRow = 6;
}
    <div>
        <a asp-action="Add" asp-controller="Cats" type="submit" class="btn btn-primary">find a new cat</a>
        <a asp-action="Create" asp-controller="Cats" class="btn btn-primary">Create new cat</a>
    </div>

    <div>
        <svg width="120" height="120">
        <a asp-action="Add" asp-controller="Cats" type="submit" class="gButton1 gButton1-normal">
                <path d="M 0 0 L 120 0 L 120 120 L 60 80 L 0 120 Z fill="#FF0000" />
                <text x="60" y="50" fill="#FFFFFF" text-anchor="middle" alignment-baseline="middle">Go on mission for a new cat</text>
@*     dv        https://www.w3schools.com/graphics/tryit.asp?filename=trysvg_path2 *@
            </a>
        </svg>

    </div>

    <div class="h1 gTZRG">Your Cats:</div>
    <form method="post">
        <table class="table table-hover">
            <thead>
            @if (!Model.Any())
            {
                <tr>
                    <th scope="col" colspan="4" class="gTZRG">
                        <span class="gXmc">Sorry, it appears that</span>
                        <span class="isPlayerName">#playernamehere#</span> 
                        <span class="gXmc">does not have any Cats yet.</span>
                    </th>
                </tr>
            }
            else
            {
                <tr>
                    <th scope="col">Card</th>
                    <th scope="col">Admin Actions</th>
                </tr>
            }


            </thead>
            <tbody>
            @if (!Model.Any() )
            {
                <table class="gTB">
                    <tr class="gTZRG"><td colspan="2">CatName</td></tr>
                    <tr class="gTZRG"><td colspan="2"><img src="~/lib/gameasset/image/premadecats/captainobvious.png" /></td></tr>
                    <tr class="gTZRG"><td>Type</td><td>Level</td></tr>
                    <tr class="gTZRG"><td colspan="2">XPBAROBJECT</td></tr>
                </table>
                rowNumber++;
            }
            else
            {
                @foreach (var cat in Model)
                {
                <td>
                    <table class="gTB">
                        <tr class="gTZRG"><td colspan="2">@cat.CatName</td></tr>
                        <tr class="gTZRG"><td colspan="2"><img width="256" src="~/lib/gameasset/image/premadecats/NotImplementedImage.png" /></td></tr>
                        <tr class="gTZRG"><td>@cat.CatType</td><td>@cat.CatLevel</td></tr>
                        <tr class="gTZRG"><td colspan="2">XPBAROBJECT</td></tr>
                    </table>
                </td>
                <td>
                        <a asp-action="details" asp-controller="cats" asp-route-id="@cat.ID" class="btn btn-info">CatDetails</a>
                        <br />
                        <a asp-action="update" asp-controller="cats" asp-route-id="@cat.ID" class="btn btn-info">CatConfigure</a>
                        <br />
                        <a asp-action="delete" asp-controller="cats" asp-route-id="@cat.ID" class="btn btn-info">CatDelete</a>
                </td>
                    rowNumber++;
                } 
            }

        </tbody>
        </table>
    </form>
    <button1 message="test"></button1>
@*     <svg width="300" height="130">
        <rect width="200" height="50" fill="white" />
        <polygon points="0,0 0,20 20,0" fill="red" />
        <polygon points="200,50 200,30 180,50" fill="red" />
        <text fill="#dcef44" x="150" y="65" text-anchor="middle" alignment-baseline="middle">pastesvg</text>
        Sorry, your browser does not support inline SVG.
    </svg> *@

    @* Missing Button for player profile *@
    @* Missing Button for solar system page *@
    @* Missing Button for player activity history *@

@* 
                        svg codes

<svg width="300" height="130">
  <rect width="200" height="50" fill="white" />
  <polygon points="0,0 0,20 20,0" fill="red" />
  <polygon points="200,50 200,30 180,50" fill="red" />
  <text>Message</text>
  Sorry, your browser does not support inline SVG.
</svg>

this is button template - particulate, so that one svg can be used for many buttons.

 *@